<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />

</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>ABOUT</h1>
        <img class="portrait" src=" /img/image.jpg" alt="This Is A Image" />
    </div>

    {{>footer}}
</body>

</html>